.navbar{
    background-color: #BF5730;
}


@font-face {
    font-family: Tough;
    src: url('../fonts/Tough-sans-regular.otf');
}

.navbar a {
    font-family: sans-serif, bold;
    font-size: 20px;
    color: #fff;
}
