p {
    font-family: sans-serif-bold, serif;
    font-size:22px;
}

.homeContainer {
    background-image: url('../images/figures1.jpg');
    background-repeat: repeat;
}

.Benefit{
    background: #e8ff00;
}